# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/dist
/driver
/tmp

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/response.json
/downloader.log
/main.spec

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# System Files
.DS_Store
Thumbs.db
/ghostdriver.log
/downloads